<div class="index-wrapper">
    <div style="height: 0px;">
        &nbsp;
    </div>
    <div>
        <div class="condition-list" style="margin-left:0">
            <ul class="condition-wrapper">
                <calendar class="calendar-index" item="timesRange" status="-2" type="index"></calendar>
            </ul>
        </div>
        <div class="index-top-wrapper">
            <!-- 词汇分析开始 -->
            <hot-word></hot-word>
            <!-- 词汇分析结束 -->
            <!-- 聚类热点 -->
            <hot-point></hot-point>
            <div class="clear"></div>
        </div>
        <!-- 通话时长静音趋势 -->
        <div class="index-chart-wrapper">
            <chartcall></chartcall>
            <!--<div class="clear"></div>-->
        </div>
        <!-- 结束 -->
        <!-- 模型状态 -->
        <div class="index-model-chart-wrapper">
            <chartmodel></chartmodel>
            <div class="clear"></div>
        </div>
        <!-- 结束 -->
        <!-- 底部时间和组织机构选择 -->
        <index-footer></index-footer>
    </div>
</div>