<div class="multi-dimension-choose online">
    <div class="multi-choose-header">
        管理路径
    </div>
    <div class="multi-choose-content">
        <div class="dimension-topic-wrap">
            <div class="path-alert-div">
                <ul ng-if="paths.length">
                    <li ng-repeat="item in paths">
                        <input type="text" ng-model="item.name" class="path-alert-input" maxlength="20" placeholder="请输入路径名称">
                        <i class="picture picture-del-manage" ng-click="delPath(item, $index)"></i>
                    </li>
                </ul>
                <div ng-if="!paths.length" style="padding: 29px;">
                    <span>新建的分析路径可在此进行管理</span>
                </div>
            </div>
            <div class="error-topic-tip route-manage" ng-show="msg">
                {{msg}}
            </div>
        </div>
    </div>
    <div class="multi-choose-footer-path newTopic">
        <button class="submit" ng-click="changePathName()">
            确&nbsp;定
        </button>
        <button class="reset" ng-click="cancelThisDialog()">
            取&nbsp;消
        </button>
    </div>
</div>