<div class="settingHot">
    <div class="hotWordsetting-list-header jianbian_se">
        <p>
            当前位置：
            <a ng-href="#/analysis/manage" class="location-group green">专题</a>
            &gt;
            <a ng-href="#/analysis/hotword" class="location-group green">热词分析</a>
            &gt;
            <span class="location-group">热词配置</span>
        </p>
        <a title="返回" class="picture back-setting" ng-href="#/analysis/hotword"></a>
    </div>
    <div class="busy-setting">
        <div class="global-dimension-header">
            <div class="fx">
                <p class="fx" ng-class="{'active':showTab===0}" ng-click="changeTab(0)">
                    白名单
                </p>
                <p class="fx">
                    |
                </p>
                <p class="fx" ng-class="{'active':showTab===1}" ng-click="changeTab(1)">
                    黑名单
                </p>
            </div>
        </div>
        <!-- 名单内容开始 -->
        <div class="section-content-index">
            <div class="setting-right">
                <div class="hotword-search search">
                    <input type="text" class="hotword-search-input" placeholder="请输入搜索内容" ng-model="keyName" ng-keyup="enterSearchKey($event)" maxlength="20">
                    <span class="icon icon-search" ng-click="searchHotWord()"></span>
                </div>
            </div>
            <div class="busy-setting-item">
                <ul class="white-list-item">
                    <item-word ng-repeat="item in whiteList track by $index" item="item" index="{{$index}}" ng-if="showTab===0" is-black="false"></item-word>
                    <item-word ng-repeat="item in blackList track by $index" item="item" index="{{$index}}" ng-if="showTab===1" is-black="true"></item-word>
                </ul>
                <input type="text" maxlength="20" ng-keyup="submitHotKey($event)" ng-model="keyWord" placeholder="请在此处输入文本后点击enter键保存">
            </div>
        </div>
    </div>
</div>