<li class="time-advance" style="width: 350px;">
    <label class="search-label" title="时间">
        时间:
    </label>
    <input class="advance-time-input common-overflow" type="text" value="{{item.defaultTime}}" title="{{item.defaultTime}}" readonly ng-click="showTimeOpen()" style="width: 255px;">
    <div class="datepicker-wrap" ng-class="{'active':isOpen}">
        <div class="time-range-select">
            <input type="hidden" name="startDate" id="startAdDateInput" value="{{startTime}}">
            <div id="startAdDatepicker" class="inline-picker"></div>
            <!-- 石勇 新增 开始时间-->
            <div style="position: absolute; bottom: 53px; left: 5px; width: 136px; height: 20px;">
                <ul class="show-time" style="line-height: 19px; height: 20px; margin-left: 0px; float: inherit;">
                    <li style="border-right: 1px solid #bababa; width: 40px; height: 19px; text-align: center; margin-left: 0px;">
                        时间
                    </li>
                    <!-- 小时 -->
                    <li style="margin-left: 5px;">
                        <input style="cursor: pointer; border: 0px solid black; width: 16px; height: 16px; padding-left: 0px; text-align: center; line-height: 16px; color: #01aead;" type="text" ng-click="DatetimeChoose(1)" ng-model="hourValue" value="00" readonly>
                        :
                    </li>
                    <!-- 分钟 -->
                    <li style="margin-left: 0px;">
                        <input style="cursor: pointer; border: 0px solid black; width: 16px; height: 16px; padding-left: 0px; text-align: center; line-height: 16px; color: #01aead;" type="text" ng-click="DatetimeChoose(2)" ng-model="minValue" value="00" readonly>
                        :
                    </li>
                    <!-- 秒 -->
                    <li style="margin-left: 0px;">
                        <input style="border: 0px solid black; width: 16px; height: 16px; padding-left: 0px; text-align: center; line-height: 16px; color: #01aead;" type="text" value="00" readonly>
                    </li>
                </ul>
                <div class="choose-hour" ng-class="{'choose-min':judeg}" ng-if="chooseDatetime">
                    <div class="close-datetime">
                        <span class="close-datetime-text" ng-click="closeChooseDatetime(event)">×</span>
                    </div>
                    <div style="width: 100%;">
                        <span class="chooseDatetimeTest" ng-if="!judeg" ng-class="{'chooseedDatetime':{{item}} == hourValue}" ng-repeat="item in datetimeTemp" ng-click="chooseResult(item)" title="{{item}}">{{item}}</span>
                        <span class="chooseDatetimeTest" ng-if="judeg" ng-class="{'chooseedDatetime':{{item}} == minValue}" ng-repeat="item in datetimeTemp" ng-click="chooseResult(item)" title="{{item}}">{{item}}</span>
                    </div>
                </div>
            </div>
            <!--  -->
            <input type="hidden" name="endDate" id="endAdDateInput" value="{{endTime}}">
            <div id="endAdDatepicker" class="inline-picker"></div>
            <!-- 石勇 新增 结束时间-->
            <div style="position: absolute; bottom: 53px; right: 120px; width: 136px; height: 20px;">
                <ul class="show-time" style="line-height: 19px; height: 20px; margin-left: 0px; float: inherit;">
                    <li style="border-right: 1px solid #bababa; width: 40px; height: 19px; text-align: center; margin-left: 0px;">
                        时间
                    </li>
                    <!-- 小时 -->
                    <li style="margin-left: 5px;">
                        <input style="cursor: pointer; border: 0px solid black; width: 16px; height: 16px; padding-left: 0px; text-align: center; line-height: 16px; color: #01aead;" type="text" ng-click="endDatetimeChoose(1)" ng-model="endHourValue" value="00" readonly>
                        :
                    </li>
                    <!-- 分钟 -->
                    <li style="margin-left: 0px;">
                        <input style="cursor: pointer; border: 0px solid black; width: 16px; height: 16px; padding-left: 0px; text-align: center; line-height: 16px; color: #01aead;" type="text" ng-click="endDatetimeChoose(2)" ng-model="endMinValue" value="00" readonly>
                        :
                    </li>
                    <!-- 秒 -->
                    <li style="margin-left: 0px;">
                        <input style="border: 0px solid black; width: 16px; height: 16px; padding-left: 0px; text-align: center; line-height: 16px; color: #01aead;" type="text" value="59" readonly>
                    </li>
                </ul>
                <div class="choose-hour" ng-class="{'choose-min':endJudeg}" ng-if="endChooseDatetime">
                    <div class="close-datetime">
                        <span class="close-datetime-text" ng-click="closeChooseEndDatetime()">×</span>
                    </div>
                    <div style="width: 100%;">
                        <span class="chooseDatetimeTest" ng-if="!endJudeg" ng-repeat="item in endDatetimeTemp" ng-class="{'chooseedDatetime':{{item}} == endHourValue}" ng-click="chooseEndResult(item)" title="{{item}}">{{item}}</span>
                        <span class="chooseDatetimeTest" ng-if="endJudeg" ng-repeat="item in endDatetimeTemp" ng-class="{'chooseedDatetime':{{item}} == endMinValue}" ng-click="chooseEndResult(item)" title="{{item}}">{{item}}</span>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
        <div class="clear"></div>
        <div class="time-btn-wrap">
            <span id="daterangeError" class="daterangeErrorStyle"></span>
            <button ng-click="setDateRange()" class="btn btn-primary small">
                应用
            </button>
            <button ng-click="closeDialog()" class="btn btn-nomal small">
                取消
            </button>
        </div>
    </div>
</li>