<div class="report-outter-panel">
    <div class="type-wrap">
        <h3>请选择您要新建的报表类型</h3>
        <div class="add-table-item table" ng-click="addNewChart('table')">
            <i class="selected-icon"></i>
            表格
        </div>
        <div class="add-table-item cl" ng-click="addNewChart('clChart')">
            <i class="selected-icon"></i>
            柱折图
        </div>
        <div class="add-table-item pie" ng-click="addNewChart('pieChart')">
            <i class="selected-icon"></i>
            饼状图
        </div>
    </div>
</div>