<div class="dimension-wrap" ng-class="{'is-other':item.hasAdd != value && item.hasAdd != '0','active':item.hasAdd == value}">
    <span class="common-overflow measure" title="{{item.measureName}}" ng-click="setMeasure(item.measure,item.hasAdd)">{{item.expressionParam}}-{{item.measureName | subData: 6}}</span>
    <div class="icon-warp">
        <i class="chart-type" ng-class="{true: 'conlum',false:'line'}[item.chartType == 'column']" ng-click="toggleAnotherType()"></i>
        <i class="chart-type another" ng-show="showAnother" ng-click="changeType(item.chartType)" ng-class="{true: 'line',false:'conlum'}[item.chartType == 'column']"></i>
    </div>
</div>