<div class="model-view-wrapper">
    <!-- 头部开始 -->
    <div class="model-view-header">
        <p>
            <span>当前位置： <!-- <a class="location-group" ng-href="#/model/{{model.modelGroupId}}/list">{{groupName}}</a> --> <span class="location-group">{{model.modelName}}</span> </span>
        </p>
        <p>
            <div class="model-search-wrap">
                <i class="picture picture-offline" title="下线" ng-click="offlineModel()" ng-if="status === -1 && offlineAuth"></i>
                <i class="picture picture-online" title="上线" ng-click="onlineModel()" ng-if="status != -1 && status != 0 && onlineAuth"></i>
                <i class="picture picture-detail" title="模型信息" ng-click="modelDetail()" ng-if="editAuth"></i>
                <i class="picture picture-save" title="保存" ng-click="addModel()" ng-if="status != -1 && status != 0 && saveAuth"></i>
                <i class="picture picture-unsave" title="保存" ng-if="(status === -1 || status === 0) && saveAuth"></i>
                <i class="picture picture-return" title="返回" ng-click="retBack()" ng-if="returnAuth"></i>
            </div>
        </p>
    </div>
    <!-- 头部结束 -->
    <!-- 条件筛选开始 -->
    <div class="condition-screen" ng-class="{'hidden':!open}">
        <div class="condition-inner" ng-style="position">
            <p>
                <span>条件筛选</span>
                <i class="picture picture-add-active" ng-click="addCondition()" ng-if="status != -1 && status != 0 && assignDimensionAuth"></i>
                <i class="picture picture-add-active" ng-if="(status === -1 || status === 0) && assignDimensionAuth"></i>
            </p>
            <div class="condition-list">
                <ul class="condition-wrapper">
                    <calendar item="timesRange" status="{{status}}" type="modelAdd"></calendar>
                    <screen-condition ng-repeat="item in preDimensions" item="item" index="{{$index}}"></screen-condition>
                    <div class="clear"></div>
                </ul>
            </div>
            <!-- 模型上线成功状态或处于上线中状态时对筛选条件添加遮罩层 -->
            <div ng-if="status == -1 || status == 0" style="display: inline-block; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 6; border-radius: 4px 4px 0px 0px;background-color: #C2C2C2;opacity: 0.2;" ng-click="dimensionTips()">
            </div>
        </div>
        <div class="toggle-open">
            <i class="picture picture-open hidden" ng-if="open" ng-click="showOpen()"></i>
        </div>
    </div>
    <i class="picture picture-open" ng-if="!open" ng-click="showOpen()"></i>
    <!-- 条件筛选结束 -->
    <div class="content-model-wrapper">
        <!-- 左侧规则开始 -->
        <gd-model-struct model="model" ng-if="model.previewId && model != null" preview="preview()" status="{{status}}" preview-auth="{{previewAuth}}" ng-class="{'hide-left':hideOpen}" silence-screen="silenceScreen"></gd-model-struct>
        <!-- 左侧规则结束 -->
        <div class="icon-font model" ng-click="hideLeft()" ng-class="{'active':hideOpen}"></div>
        <!-- 右侧结果显示开始 -->
        <div class="model-content-result" ng-class="{'active':hideOpen}">
            <div class="data-outer-header">
                <ul class="tabs">
                    <li class="analyse-tab" ng-class="{'active': showTab == 0}" ng-click="showPreivewResult(0)">
                        <a class="ell" title="匹配通话">匹配通话</a>
                    </li>
                    <li class="analyse-tab" ng-class="{'active': showTab == -1}" ng-show="isSearchShowTab">
                        <i class="picture picture-del frag-del" ng-click="hideSearch()"></i>
                        <a class="ell" title="搜索" ng-click="showPreivewResult(-1)">搜索</a>
                    </li>
                    <li class="analyse-tab" ng-repeat="frag in previewFrags" ng-click="showPreivewResult(frag.fragmentNum)" ng-class="{'active': showTab == frag.fragmentNum}">
                        <i class="picture picture-del frag-del" ng-click="removePrewViewFrag(frag)"></i>
                        <a class="ell" title="片段{{frag.fragmentNum}}">片段{{frag.fragmentNum}}</a>
                    </li>
                </ul>
                <!-- <div class="tabs-right">
						<div class="tabs-search" ng-show="isSearch">
								<input type="text" placeholder="请输入搜索内容" ng-model="searchKeyword" ng-keyup="enterKey()">
								<i class="icon icon-search icon-inner" ng-click="searchBeforeResult()"></i>
						</div>
						<i class="icon icon-search icon-outer" ng-show="!isSearch && searchAuth" ng-click="showSearch()"></i>
						<div class="total-count">录音量<span class="count-num">{{previewReuslt.total}}</span></div>
				</div> -->
            </div>
            <div class="data-outer-result">
                <!-- 模型匹配的 -->
                <model-result type="model" ng-show="showTab == 0" index="-1"></model-result>
                <model-result type="fragment" ng-repeat="fragment in previewFrags" frag="fragment" ng-show="showTab == fragment.fragmentNum" index="{{$index}}"></model-result>
                <search-view ng-show="isSearchShow" time="timesRange" condition="preDimensions" is-search-show="{{isSearchShow}}"></search-view>
            </div>
        </div>
        <!-- 右侧结果显示结束 -->
    </div>
    <div class="clear"></div>
</div>