<div class="dialog-wrap">
    <div class="dialog-header-wrap">
        <!-- 基本信息 -->
    </div>
    <div class="dialog-content">
        <p class="message">
            {{message}}
        </p>
    </div>
    <div class="dialog-footer">
        <ul class="culum-wrap culum-wrap-alert">
            <li>
                <button ng-click="closeThisDialog(0)" class="primary">
                    确&nbsp;认
                </button>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>