<div class="dialog-wrap">
    <div class="dialog-header-wrap">
        <!-- 基本信息 -->
    </div>
    <div class="dialog-content">
        <p class="message">
            {{message}}
        </p>
    </div>
    <div class="dialog-footer">
        <ul class="culum-wrap culum-wrap-x2">
            <li>
                <button ng-click="closeThisDialog(1)" class="primary">
                    {{yes}}
                </button>
            </li>
            <li>
                <button ng-click="closeThisDialog(0)">
                    {{no}}
                </button>
            </li>
            <div class="clear"></div>
        </ul>
        <div class="clear"></div>
    </div>
</div>