<div class="analysis-busiList-wrapper">
    <div class="header-content">
        <div class="busiList-header">
            <div>
                <label style="cursor: pointer">
                    当前位置:
                </label>
                <span style="cursor: pointer;font-weight:bold;">业务概览</span>
            </div>
        </div>
        <div class="condition-list">
            <ul class="condition-wrapper">
                <calendar item="timesRange" status="{{status}}" type="buiOverview"></calendar>
            </ul>
        </div>
    </div>
    <div class="busiList-content">
        <div class="busiList-Menu">
            <div class="top-bar">
                <a ng-href="#/analysis/groupSetting/0">配置</a>
            </div>
            <div class="topic-tree-head" style="font-size: 14px;font-family: 'Microsoft YaHei';">
                <topic-tree-grid key="modelId" group-type="0" max-level="4" columns="treeGrid.columns" times-range="timesRange">
                </topic-tree-grid>
            </div>
        </div>
        <div class="busiList-right">
            <busi-call-chart times-range="timesRange"></busi-call-chart>
            <div class="clear"></div>
            <model-call-list group-type="0" times-range="timesRange"></model-call-list>
            <div class="clear"></div>
        </div>
    </div>
</div>